<div class="workoutTable">
  <ul>
    <li class="branding"><a ng-href="#/">WorkoutApp</a></li>
    <!--li><a ng-show="currentUser" ng-href="#/meetings">Workouts
    <span ng-show="howManyMeetings">
      {{ '(' + howManyMeetings + ')' }}</span></a></li-->
    <li><a ng-show="currentUser" ng-href="#/workouts">Workouts
    <span ng-show="howManyWorkouts">
      {{ '(' + howManyWorkouts + ')' }}</span></a></li>
    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  </ul>
</div>